<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Selenium.webdriver.directory" value="WebDriver"/>
    <add key="Selenium.hub.Port" value="4444"/>
    <add key="Selenium.Grid.Enabled" value="False"/>
    <add key="Selenium.Browser.Size" value="1024*788"/>
    <add key="Selenium.ChromeDriver.LastChromeDriverVersionUrl" value="https://chromedriver.storage.googleapis.com/LATEST_RELEASE" />    
    <add key="Selenium.ChromeDriver.ChromeDriverVersion" value="85.0.4183.83" />
  
  </appSettings>
</configuration>